.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
body {
background-color: rgb(177, 208, 238);
margin: 35px;
padding: 35px;
} 
h1 {
font-family: 'Great Vibes', cursive;
font-size: 50px;
color: aliceblue;
text-align: center   
}
h2 {
font-family: 'Grenze Gotisch', cursive;
color: slateblue;
font-size: 30px;
}
#comentario{
margin: 15px;
margin-top: 50px;
font-size: 15px; 
font-style: italic;
}
#cidade {
color: rgb(199, 128, 99);
font-size: 18px;
}
ol {
font-family: monospace;
font-size: 20px;
}
.cap {
font-weight: bold;
color: purple
}
.idade {
font-style: italic;
color: salmon;
}
.senso {
font-style: oblique;
font-size: 22px;
color: seagreen;
}
#foto {
float: left;
margin: 15px;  
padding: 20px; 
background-color: rgb(7, 82, 156);
}
#about {
clear: both;
}
.navegue, #blog, #about, #foto {
    margin-bottom: 35px;
}